/* Variables base */
:root {
    --fondo-principal: #392a35;
    --color-texto: #e5fec5;
    --color-secundario: #444;
    --color-texto-2: #ddd;
    --negative: #a00;
    --positive: #0a0;
}

.modo-claro {
    --fondo-principal: #e5fec5;
    --color-texto: #392a35;
    --color-secundario: #ddd;
    --color-texto-2: #333;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-light);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

body {
    background-color: var(--color-secundario);
    display: flex;
    min-height: 100vh;
    }

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: var(--fondo-principal);
    padding: 2rem 1rem;
    position: fixed;
    height: 100vh;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar a{
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-texto);
    margin-bottom: 2rem;
}


.nav-links {
    list-style: none;
}

.nav-links li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.5rem 0;
    color: var(--color-texto);
    transition: 0,1s;
}

.nav-links li:hover,
.nav-links li.active {
    background-color: var(--color-texto-2);
    color: var(--fondo-principal);
}

/* Main content */
.main-content {
    margin-left: 250px;
    padding: 2rem;
    width: calc(100% - 250px);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-left h1 {
    font-size: 2rem;
    color: var(--color-texto);
}

.header-left p {
    color: var(--color-texto-2);
    font-size: 1.5rem;
    line-height: 1.5;
}

.header-right span{
    color: var(--color-texto-2);
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-texto);
}

/* Cards */
.summary-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.card {
    background-color: var(--fondo-principal);
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    transform: scale(1);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card-info h3 {
    font-size: 1rem;
    color: var(--color-texto);
}

.card-info canvas{
    margin-top: 20px;
}

.number {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2;
    color: var(--color-texto-2);
}

.trend {
    font-size: 0.875rem;
}

.trend.positive {
    color: var(--positive);
}

.trend.negative {
    color: var(--negative);
}

/* Charts */
.charts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.chart-wrapper {
    background-color: var(--fondo-principal);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.chart-wrapper.wide {
    grid-column: span 2;
}

.chart-wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-texto);
}

/* Responsive */
@media (max-width: 1024px) {
    .charts-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 70px;
    }

    .sidebar span {
        display: none;
    }

    .main-content {
        margin-left: 70px;
        width: calc(100% - 70px);
    }
}

.modo-toggle {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 1000;
    background-color: var(--color-texto);
    color: var(--fondo-principal);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}

.modo-toggle:hover {
    background-color: var(--fondo-principal);
    color: var(--color-texto);
}

/*  */

.contenedor_recomendados{
    display: flex;
}

.recomendados h2{
    color: var(--color-texto);
    margin: 10px;
}

.recomendados .card{
    width: 250px;
    height: 300px;
    margin: 20px;
}

/* ==========
    CHATS
========== */

.chat-item{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
}

.chat-avatar{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    margin-right: 15px;
}

.chat-avatar img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.chat-avatar i{
    font-size: 20px;
    color: #333;
}
.chat-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-name{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

.chat-last-message{
    font-size: 13px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.chat-status.online{
    background-color: green;
}

.chat-item.no-leido{
    background-color: #e0f7fa;
}

.chat-item.no-leido .chat-name{
    font-weight: 700;
    color: #000;
}

.chat-item.no-leido::after {
    content: 'Nuevo';
    font-size: 11px;
    color: white;
    background-color: #2196f3;
    border-radius: 10px;
    padding: 2px 6px;
    margin-left: 10px;
}

/*------
INVENTARIO
------- */

.inventario {
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 12px;
    position: relative;
}

.inventario h2 {
    margin-bottom: 1rem;
    color: var(--color-texto);
}

.grid-inventario {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    gap: 1rem;
}

.item-inventario {
    background-color: var(--fondo-principal);
    box-sizing: border-box;
    width: 250px;
    height: 470px;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.item-inventario:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

.item-inventario img {
    width: 100%;
    height: 50%;
    border-radius: 12px;
    object-fit: cover;
}


.btn-verde {
    background-color: #0a0;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
}

.btn-verde:hover {
    background-color: darkorange;
}
.btn-verde i {
    margin-right: 4px;
}


.btn-agregar {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--color-texto);
    color: var(--fondo-principal);
    font-size: 600%;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.btn-agregar:hover {
    background-color: var(--fondo-principal);
    color: var(--color-texto);
    border: solid var(--color-texto);
}

.estrellas {
    color: gold;
    font-size: 1.2rem;
    user-select: none;
    transition: transform 0.2s;
}

.estrellas:hover {
    transform: scale(1.1);
}

.descripcion {
    font-size: 15px;
    color: var(--color-texto);
    padding: 0 10px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.item-inventario h4, .item-inventario h3{
    color: var(--color-texto);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/*============
    perfil
=========== */

/* Sección general */
.perfil-usuario {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
    font-family: sans-serif;
}

/* Contenedor de la imagen de perfil */
.contenedor-imagen {
    background-color:var(--fondo-principal);
    padding: 30px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

/* Imagen de perfil redonda */
.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ccc;
}

/* Nombre debajo de la imagen */
.nombre-perfil {
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--color-texto);
}

/* Contenedor de información del usuario */
.contenedor-info {
    background-color:var(--fondo-principal);
    padding: 40px;
    border-radius: 12px;
    color: var(--color-texto);
    width: 100%;
    min-height: 400px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

/* Texto dentro de la info del usuario */
.contenedor-info p {
    margin: 20px 0;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--color-texto);
}

/* Botón de editar información */
.boton-editar {
    display: flex;
    align-items: end;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
    background-color: transparent;
    border: 1px solid var(--color-texto, #ccc);
    color: var(--color-texto, #ccc);
    transition: background-color 0.2s, color 0.2s;
    font-size: 1rem;
}

.boton-editar:hover {
    background-color: var(--color-texto, #ccc);
    color: var(--fondo-principal);
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .perfil-usuario {
    flex-direction: column;
    align-items: center;
    }
    .contenedor-imagen,
    .contenedor-info {
        width: 90%;
    }
}


/* Botón de cerrar sesión debajo del nombre */
.boton-cerrar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1.5rem;
    background-color: transparent;
    border: 1px solid #e74c3c;
    color: #e74c3c;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.boton-cerrar:hover {
    box-shadow: 0 0 12px rgba(248, 31, 31, 0.6);
    background-color: rgba(207, 54, 54, 0.1);
    color: #e74c3c;
}

/* =======================
    Reporte de Usuarios
======================= */
    
/* NUEVOS ESTILOS PARA REPORTE DE USUARIOS */

.reporte-usuarios h2 {
    color: var(--color-texto);
    margin-bottom: 1.5rem;
}

.grid-reportes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.reporte-card {
    background-color: var(--fondo-principal);
    border: none;
    border-radius: 12px;
    padding: 1.2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: var(--color-texto);
    margin: 0.5rem;
}

.reporte-card p {
    margin-bottom: 0.5rem;
}

.botones-validacion {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-negativo,
.btn-positivo {
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
}

.btn-negativo {
    background-color: var(--color-negativo);
}

.btn-positivo {
    background-color: var(--color-positivo);
}

.btn-negativo:hover,
.btn-positivo:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
