<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Libro</title>
</head>
<body>

<h1>Editar Libro</h1>

<form th:action="@{'/libros/actualizar/' + ${libro.id}}" method="post" th:object="${libro}">

    Título:
    <input type="text" th:field="*{titulo}"><br><br>

    ISBN:
    <input type="text" th:field="*{isbn}"><br><br>

    Año:
    <input type="number" th:field="*{año}"><br><br>

    Autor ID:
    <input type="number" th:field="*{autor.id}"><br><br>

    Género ID:
    <input type="number" th:field="*{genero.id}"><br><br>

    <button type="submit">Actualizar</button>
</form>

</body>
</html>
